default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  host: localhost
  password: password

development:
  <<: *default
  database: SmartHome_development
test:
  <<: *default
  database: SmartHome_test
