header
  $navigation-color: inherit
  @include outer-container(100%)
  height: 70px
  background: linear-gradient(to bottom,rgba(0,0,0,0.9) 0,rgba(0,0,0,0) 95%,rgba(0,0,0,0) 99%)
  position: fixed
  width: 100%

  .logo
    @include span-columns(2)
    padding-left: 100px

  .nav
    @include span-columns(10)
    padding-right: 0

    .nav-link
      @include span-columns(2 of 10)
      padding-top: 20px
      text-align: right

      a
        font-weight: bold
        color: $navigation-color
        display: inline-block
        text-decoration: none
        margin: 0 auto
        &:hover
          text-decoration: underline

      .signin
        color: red
        margin-right: 35px
        position: relative
        &:hover
          text-decoration: none
        &:after
          border: 1px solid red
          border-radius: 2px
          display: block
          content: ""
          width: 120px
          height: 50px
          right: -35px
          top: -13px
          position: absolute
