@import "colors"

.camera,
.temp_section,
.graph_section,
.guard_section
  color: $text-color
  border-radius: 2px
  // padding: 10px
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset
  position: relative
  &:before
    position: absolute
    content: ""
    top: 14px
    bottom: 14px
    left: 0
    right: 0
    box-shadow: 0 0 25px 3px #548E7F
    border-radius: 100px/10px
    z-index: -1

.temp_section
  background: $light-blue
.graph_section
  background: $orange
.guard_section
  background: $red

.graph_section
  margin-top: 20px
  height: 150px

.video_section
  width: 100%
  text-align: center
  img
    width: 100%
