.temp_section,
.guard_section
  background: blue
  height: 480px

.guard_section
  background: red

.graph_section
  margin-top: 20px
  height: 150px
  background: pink

.video_section
  width: 100%
  text-align: center
  img
    width: 100%
