.row-eq-height
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex

  .sidebar, .settings
    background: grey
    min-height: 100%
    text-align: center
    padding-top: 20px

@media (min-width: 768px)
  .navbar
    .navbar-nav
      display: inline-block
      float: none
      vertical-align: top

    .navbar-collapse
      text-align: center

  #new_raspberry
    width: 50%
    margin: auto

@media (min-width: 960px)
  .nav-link
    margin-right: 50px
